## Cosine Similarity and Clustering

### Libraries/Dependencies

In [ ]:
import pandas as pd
import numpy as np

pd.options.display.max_colwidth = 200

corpus = ['The sky is blue and beautiful.',
          'Love this blue and beautiful sky!',
          'The quick brown fox jumps over the lazy dog.',
          "A king's breakfast has sausages, ham, bacon, eggs, toast and beans",
          'I love green eggs, ham, sausages and bacon!',
          'The brown fox is quick and the blue dog is lazy!',
          'The sky is very blue and the sky is very beautiful today',
          'The dog is lazy but the brown fox is quick!'    
]
labels = ['weather', 'weather', 'animals', 'food', 'food', 'animals', 'weather', 'animals']

corpus = np.array(corpus)
corpus_df = pd.DataFrame({'Document': corpus, 
                          'Category': labels})
corpus_df = corpus_df[['Document', 'Category']]
corpus_df

                                                             Document Category
0                                      The sky is blue and beautiful.  weather
1                                   Love this blue and beautiful sky!  weather
2                        The quick brown fox jumps over the lazy dog.  animals
3  A king's breakfast has sausages, ham, bacon, eggs, toast and beans     food
4                         I love green eggs, ham, sausages and bacon!     food
5                    The brown fox is quick and the blue dog is lazy!  animals
6            The sky is very blue and the sky is very beautiful today  weather
7                         The dog is lazy but the brown fox is quick!  animals

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

### Cleaning the Corpus

In [ ]:
import re

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # lower case and remove special characters\whitespaces
    doc = re.sub(r'[^a-zA-Z\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    # tokenize document
    tokens = nltk.word_tokenize(doc)
    # filter stopwords out of document
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # re-create document from filtered tokens
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(corpus)
norm_corpus

array(['sky blue beautiful', 'love blue beautiful sky',
       'quick brown fox jumps lazy dog',
       'kings breakfast sausages ham bacon eggs toast beans',
       'love green eggs ham sausages bacon',
       'brown fox quick blue dog lazy', 'sky blue sky beautiful today',
       'dog lazy brown fox quick'], dtype='<U51')

### Vectorizing the Corpus

In [ ]:

from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(norm_corpus)
cv_matrix = cv_matrix.toarray()
cv_matrix

array([[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1],
       [0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0]])

In [ ]:
# get all unique words in the corpus
vocab = cv.get_feature_names()
# show document feature vectors
pd.DataFrame(cv_matrix, columns=vocab)

   bacon  beans  beautiful  blue  breakfast  ...  quick  sausages  sky  toast  today
0      0      0          1     1          0  ...      0         0    1      0      0
1      0      0          1     1          0  ...      0         0    1      0      0
2      0      0          0     0          0  ...      1         0    0      0      0
3      1      1          0     0          1  ...      0         1    0      1      0
4      1      0          0     0          0  ...      0         1    0      0      0
5      0      0          0     1          0  ...      1         0    0      0      0
6      0      0          1     1          0  ...      0         0    2      0      1
7      0      0          0     0          0  ...      1         0    0      0      0

[8 rows x 20 columns]

## N-Gram

In [ ]:
bv = CountVectorizer(ngram_range=(1,2))
bv_matrix = bv.fit_transform(norm_corpus)

bv_matrix = bv_matrix.toarray()
vocab = bv.get_feature_names()
pd.DataFrame(bv_matrix, columns=vocab)

   bacon  bacon eggs  beans  beautiful  ...  sky blue  toast  toast beans  today
0      0           0      0          1  ...         1      0            0      0
1      0           0      0          1  ...         0      0            0      0
2      0           0      0          0  ...         0      0            0      0
3      1           1      1          0  ...         0      1            1      0
4      1           0      0          0  ...         0      0            0      0
5      0           0      0          0  ...         0      0            0      0
6      0           0      0          1  ...         1      0            0      1
7      0           0      0          0  ...         0      0            0      0

[8 rows x 49 columns]

### TF-IDF Vectorizing

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer(min_df=0., max_df=1., use_idf=True)
tv_matrix = tv.fit_transform(norm_corpus)
tv_matrix = tv_matrix.toarray()

vocab = tv.get_feature_names()
pd.DataFrame(np.round(tv_matrix, 2), columns=vocab)

   bacon  beans  beautiful  blue  ...  sausages   sky  toast  today
0   0.00   0.00       0.60  0.53  ...      0.00  0.60   0.00    0.0
1   0.00   0.00       0.49  0.43  ...      0.00  0.49   0.00    0.0
2   0.00   0.00       0.00  0.00  ...      0.00  0.00   0.00    0.0
3   0.32   0.38       0.00  0.00  ...      0.32  0.00   0.38    0.0
4   0.39   0.00       0.00  0.00  ...      0.39  0.00   0.00    0.0
5   0.00   0.00       0.00  0.37  ...      0.00  0.00   0.00    0.0
6   0.00   0.00       0.36  0.32  ...      0.00  0.72   0.00    0.5
7   0.00   0.00       0.00  0.00  ...      0.00  0.00   0.00    0.0

[8 rows x 20 columns]

### Finding the similarity of Vectorized Tokens

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(tv_matrix)
similarity_df = pd.DataFrame(similarity_matrix)
similarity_df

          0         1         2  ...         5         6         7
0  1.000000  0.820599  0.000000  ...  0.192353  0.817246  0.000000
1  0.820599  1.000000  0.000000  ...  0.157845  0.670631  0.000000
2  0.000000  0.000000  1.000000  ...  0.791821  0.000000  0.850516
3  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
4  0.000000  0.225489  0.000000  ...  0.000000  0.000000  0.000000
5  0.192353  0.157845  0.791821  ...  1.000000  0.115488  0.930989
6  0.817246  0.670631  0.000000  ...  0.115488  1.000000  0.000000
7  0.000000  0.000000  0.850516  ...  0.930989  0.000000  1.000000

[8 rows x 8 columns]

### Using Cosine Similarity to Cluster the labels

In [ ]:
from sklearn.cluster import KMeans

km = KMeans(n_clusters=3, random_state=0)
km.fit_transform(similarity_matrix)
cluster_labels = km.labels_
cluster_labels = pd.DataFrame(cluster_labels, columns=['ClusterLabel'])
pd.concat([corpus_df, cluster_labels], axis=1)

                                                             Document  ... ClusterLabel
0                                      The sky is blue and beautiful.  ...            2
1                                   Love this blue and beautiful sky!  ...            2
2                        The quick brown fox jumps over the lazy dog.  ...            1
3  A king's breakfast has sausages, ham, bacon, eggs, toast and beans  ...            0
4                         I love green eggs, ham, sausages and bacon!  ...            0
5                    The brown fox is quick and the blue dog is lazy!  ...            1
6            The sky is very blue and the sky is very beautiful today  ...            2
7                         The dog is lazy but the brown fox is quick!  ...            1

[8 rows x 3 columns]