In [34]:
pip install h2o

Requirement already satisfied: h2o in /usr/local/lib/python3.7/dist-packages (3.32.1.1)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.7/dist-packages (from h2o) (0.4.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)

### H2O Framework

In [35]:
import pandas as pd
import h2o

### Adjusting Memory  
Number of threads are related to your cpu core count and maximum memory size is related to available memory. You can monitor the current values of these requirements as shown below. Then, you should limit memory and threads in initialization step.

In [36]:
import multiprocessing
print("CPU: ",multiprocessing.cpu_count())

import psutil
print("Memory: ",psutil.virtual_memory())

CPU:  2
Memory:  svmem(total=13653573632, available=12277145600, percent=10.1, used=1192243200, free=8669863936, active=1659596800, inactive=2955296768, buffers=83161088, cached=3708305408, shared=1007616, slab=259149824)

In [37]:
#h2o.init()
h2o.init(ip="127.0.0.1", max_mem_size_GB = 100, nthreads = 5)

Checking whether there is an H2O instance running at http://127.0.0.1:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         11 mins 55 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.1
H2O_cluster_version_age:    18 days
H2O_cluster_name:           H2O_from_python_unknownUser_8oy5ld
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    99.9 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.10 final
--------------------------  ------------------------------------------------------------------

### Data Manipulation
h2o frame is a multi-core supporting data manipulation tool h2o frame is equivalent to Pandas.

In [38]:
# Data can be found here https://www.kaggle.com/serengil/recognizing-faces-in-the-wild

hf_positive = h2o.import_file('train_true_positive_features.csv')
hf_negative = h2o.import_file('train_true_negative_features.csv')
hf = hf_positive.rbind(hf_negative)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [39]:
print("positive instances: ",hf_positive.shape)
print("negative instances: ",hf_negative.shape)
print("total instances: ",hf.shape)

positive instances:  (165179, 34)
negative instances:  (283367, 34)
total instances:  (448546, 34)

In [40]:
hf = hf[['vgg_cosine', 'vgg_euclidean_l2'
         , 'facenet_cosine', 'facenet_euclidean_l2'
         , 'openface_cosine', 'openface_euclidean_l2'
         , 'is_related']]

In [41]:
hf.head()

vgg_cosine,vgg_euclidean_l2,facenet_cosine,facenet_euclidean_l2,openface_cosine,openface_euclidean_l2,is_related
0.618396,1.11211,1.25131,1.58197,1.12544,1.50029,1
0.601191,1.09653,1.14205,1.51133,1.08315,1.47183,1
0.543063,1.04217,1.10449,1.48627,1.14981,1.51645,1
0.618544,1.11224,1.24833,1.58008,1.09367,1.47897,1
0.60665,1.1015,1.15115,1.51733,1.11618,1.49411,1
0.630702,1.12312,1.22153,1.56303,1.20384,1.55167,1
0.742856,1.2189,1.09549,1.48019,1.07032,1.4631,1
0.558462,1.05685,1.11984,1.49655,1.24634,1.57882,1
0.648851,1.13917,1.10773,1.48844,0.612283,1.1066,1
0.677681,1.1642,1.03272,1.43716,0.571711,1.06931,1

In [42]:
#convert target label to factor because this is a binary classification
#otherwise, there would be a regression problem
hf['is_related'] = hf['is_related'].asfactor()

### Train/Test Split

In [43]:
#70% train, 15% test, 15% validation
train, test, validation = hf.split_frame(ratios=[0.70, 0.15], seed=17)

In [44]:
print("train set size: ",train.shape)
print("test set size: ", test.shape)
print("validation set size: ", validation.shape)

train set size:  (314122, 7)
test set size:  (67160, 7)
validation set size:  (67264, 7)

### Modelling

In [45]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [62]:
model = H2OGradientBoostingEstimator(
    ntrees = 1000
    , learn_rate = 0.01
    , stopping_rounds = 50
    , stopping_metric = "AUC" # for more metrics visit https://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/algo-params/stopping_metric.html
)

In [47]:
hf.names

['vgg_cosine',
 'vgg_euclidean_l2',
 'facenet_cosine',
 'facenet_euclidean_l2',
 'openface_cosine',
 'openface_euclidean_l2',
 'is_related']

### Allocating label and the features and Model Building

In [48]:
model.train(x = hf.names[0:-1], y = hf.names[-1]
    , training_frame = train
    , validation_frame = test
    #, verbose = True
    , model_id = "GBM_Kinship"
)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [49]:
model

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_Kinship


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0             1000.0  ...        32.0       16.503

[1 rows x 10 columns]

ModelMetricsBinomial: gbm
** Reported on train data. **

MSE: 0.19740943929831967
RMSE: 0.4443078204334464
LogLoss: 0.5789539838842191
Mean Per-Class Error: 0.33328667895643416
AUC: 0.7275750467188149
AUCPR: 0.612898034636261
Gini: 0.4551500934376298

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.29879537180277466:

                 0         1   Error                  Rate
0      0  106889.0   91478.0  0.4612    (91478.0/198367.0)
1      1   25984.0   89771.0  0.2245    (25984.0/115755.0)
2  Total  132873.0  181249.0  0.3739   (117462.0/314122.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold          value    idx
0                        max f1   0.298795       0.604510  265.0
1                        max f2   0.155905       0.753297  352.0
2                  max f0point5   0.457630       0.579485  174.0
3                  max accuracy   0.514940       0.697863  145.0
4                 max precision   0.928900       1.000000    0.0
5                    max recall   0.064194       1.000000  395.0
6               max specificity   0.928900       1.000000    0.0
7              max absolute_mcc   0.394644       0.325169  209.0
8    max min_per_class_accuracy   0.363702       0.666205  226.0
9   max mean_per_class_accuracy   0.358648       0.666713  229.0
10                      max tns   0.928900  198367.000000    0.0
11                      max fns   0.928900  115691.000000    0.0
12                      max fps   0.046803  198367.000000  399.0
13                      max tps   0.064194  115755.000000  395.0
14                      max tnr   0.928900       1.000000    0.0
15                      max fnr   0.928900       0.999447    0.0
16                      max fpr   0.046803       1.000000  399.0
17                      max tpr   0.064194       1.000000  395.0

Gains/Lift Table: Avg response rate: 36.85 %, avg score: 36.85 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010002  ...       140.275528            0.022219
1       2                  0.020002  ...       130.941360            0.041474
2       3                  0.030007  ...       124.211096            0.059023
3       4                  0.040000  ...       120.333950            0.076222
4       5                  0.050003  ...       116.410216            0.092175
5       6                  0.100012  ...       100.580461            0.159292
6       7                  0.150002  ...        89.253232            0.212007
7       8                  0.200002  ...        79.549924            0.251943
8       9                  0.300024  ...        64.124010            0.304653
9      10                  0.400001  ...        52.010470            0.329443
10     11                  0.500000  ...        41.529956            0.328822
11     12                  0.600003  ...        32.071488            0.304720
12     13                  0.699999  ...        23.534537            0.260875
13     14                  0.799998  ...        15.442373            0.195628
14     15                  0.899997  ...         7.755669            0.110532
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

ModelMetricsBinomial: gbm
** Reported on validation data. **

MSE: 0.197269666910874
RMSE: 0.44415050029339603
LogLoss: 0.5786944223627534
Mean Per-Class Error: 0.33218488977777927
AUC: 0.7275172993032565
AUCPR: 0.6107003400548159
Gini: 0.45503459860651296

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.30575704067105375:

                0        1   Error                Rate
0      0  23532.0  18957.0  0.4462   (18957.0/42489.0)
1      1   5742.0  18929.0  0.2327    (5742.0/24671.0)
2  Total  29274.0  37886.0  0.3678   (24699.0/67160.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold         value    idx
0                        max f1   0.305757      0.605176  256.0
1                        max f2   0.152319      0.753197  353.0
2                  max f0point5   0.470342      0.578576  165.0
3                  max accuracy   0.514701      0.698734  143.0
4                 max precision   0.908483      0.984127    3.0
5                    max recall   0.054767      1.000000  398.0
6               max specificity   0.928602      0.999976    0.0
7              max absolute_mcc   0.368921      0.325157  220.0
8    max min_per_class_accuracy   0.363460      0.666005  223.0
9   max mean_per_class_accuracy   0.365427      0.667815  222.0
10                      max tns   0.928602  42488.000000    0.0
11                      max fns   0.928602  24657.000000    0.0
12                      max fps   0.048025  42489.000000  399.0
13                      max tps   0.054767  24671.000000  398.0
14                      max tnr   0.928602      0.999976    0.0
15                      max fnr   0.928602      0.999433    0.0
16                      max fpr   0.048025      1.000000  399.0
17                      max tpr   0.054767      1.000000  398.0

Gains/Lift Table: Avg response rate: 36.73 %, avg score: 36.78 %

    group  cumulative_data_fraction  ...  cumulative_gain  kolmogorov_smirnov
0       1                  0.010006  ...       136.979363            0.021664
1       2                  0.020116  ...       130.512568            0.041498
2       3                  0.030003  ...       123.316975            0.058482
3       4                  0.040009  ...       118.932902            0.075213
4       5                  0.050000  ...       114.827125            0.090750
5       6                  0.100045  ...       101.523211            0.160544
6       7                  0.150030  ...        89.361565            0.211915
7       8                  0.200000  ...        79.704917            0.251970
8       9                  0.300045  ...        64.243984            0.304686
9      10                  0.400000  ...        51.959791            0.328520
10     11                  0.500000  ...        41.802116            0.330371
11     12                  0.600000  ...        32.017348            0.303648
12     13                  0.700000  ...        23.459006            0.259562
13     14                  0.800000  ...        15.383446            0.194526
14     15                  0.900000  ...         7.854926            0.111743
15     16                  1.000000  ...         0.000000            0.000000

[16 rows x 14 columns]

Scoring History:

                timestamp  ... validation_lift  validation_classification_error
0     2021-04-13 18:48:46  ...        1.000000                         0.632653
1     2021-04-13 18:48:46  ...        2.291923                         0.357370
2     2021-04-13 18:48:47  ...        2.291923                         0.357370
3     2021-04-13 18:48:47  ...        2.291923                         0.357370
4     2021-04-13 18:48:48  ...        2.293831                         0.356358
5     2021-04-13 18:48:48  ...        2.293831                         0.356626
6     2021-04-13 18:48:49  ...        2.293831                         0.356358
7     2021-04-13 18:48:49  ...        2.304677                         0.356313
8     2021-04-13 18:48:49  ...        2.304677                         0.356313
9     2021-04-13 18:48:53  ...        2.349827                         0.384038
10    2021-04-13 18:49:00  ...        2.356146                         0.366409
11    2021-04-13 18:49:06  ...        2.351907                         0.363446
12    2021-04-13 18:49:12  ...        2.348062                         0.361018
13    2021-04-13 18:49:19  ...        2.359001                         0.365009
14    2021-04-13 18:49:25  ...        2.354684                         0.362597
15    2021-04-13 18:49:32  ...        2.354138                         0.363163
16    2021-04-13 18:49:39  ...        2.353590                         0.362761
17    2021-04-13 18:49:47  ...        2.358723                         0.364071
18    2021-04-13 18:49:53  ...        2.363825                         0.362046
19    2021-04-13 18:50:00  ...        2.361692                         0.365947

[20 rows x 16 columns]

See the whole table with table.as_data_frame()

Variable Importances:

                variable  relative_importance  scaled_importance  percentage
0   facenet_euclidean_l2        261705.156250           1.000000    0.468295
1         facenet_cosine        162436.656250           0.620686    0.290664
2       vgg_euclidean_l2         73451.710938           0.280666    0.131434
3             vgg_cosine         34810.042969           0.133012    0.062289
4        openface_cosine         15869.265625           0.060638    0.028396
5  openface_euclidean_l2         10574.509766           0.040406    0.018922

### Evaluation

In [50]:
val_perf = model.model_performance(validation)

In [51]:
val_perf.auc()

0.7224417279417025

In [52]:
val_perf.accuracy()[0][1]

0.6942049238820172

In [53]:
test_perf = model.model_performance(test)

In [54]:
test_perf.auc()

0.7275172993032565

In [55]:
test_perf.accuracy()[0][1]

0.6987343656938654

### Predictions

In [56]:
predictions = model.predict(test_data = validation)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [57]:
predictions.head()

predict,p0,p1
0,0.886282,0.113718
0,0.849964,0.150036
0,0.799633,0.200367
0,0.805399,0.194601
0,0.804213,0.195787
0,0.756413,0.243587
0,0.820521,0.179479
0,0.834624,0.165376
0,0.868607,0.131393
0,0.797006,0.202994

In [58]:
predictions_pd = predictions.as_data_frame()

### Saving and Reloading the model

In [59]:
saved_model = h2o.save_model(model, path = "", force=True)

In [60]:
saved_model

'/content/GBM_Kinship'

In [61]:
#you can directly load the best model by running the load_model command
restored_model = h2o.load_model(saved_model)