In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("Train_data.csv")
df.head(2)

   YearStart  YearEnd  ... StratificationID1                    Class
0       2011     2011  ...           OVERALL  Obesity / Weight Status
1       2011     2011  ...              MALE  Obesity / Weight Status

[2 rows x 29 columns]

In [ ]:
df.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Topic', 'Question', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit ', 'Sample_Size',
       'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1',
       'Class'],
      dtype='object')

In [ ]:
df=df[['Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit ', 'Sample_Size',
       'Total', 'Age(years)', 'Education', 'Gender', 'Income',
       'Race/Ethnicity', 'GeoLocation', 'ClassID', 'TopicID', 'QuestionID',
       'DataValueTypeID', 'LocationID', 'StratificationCategory1',
       'Stratification1', 'StratificationCategoryId1', 'StratificationID1',
       'Class']]

In [ ]:
df.isnull().sum()

Data_Value_Type                  0
Data_Value                       0
Low_Confidence_Limit             0
High_Confidence_Limit            1
Sample_Size                      1
Total                        39308
Age(years)                   32125
Education                    35253
Gender                       38041
Income                       30296
Race/Ethnicity               32715
GeoLocation                    839
ClassID                          1
TopicID                          1
QuestionID                       1
DataValueTypeID                  1
LocationID                       1
StratificationCategory1          1
Stratification1                  1
StratificationCategoryId1        1
StratificationID1                1
Class                            1
dtype: int64

In [ ]:
df.shape

(40769, 22)

In [ ]:
df=df.drop(columns=["Total", "Age(years)", "Education", "Gender", "Income", "Race/Ethnicity", "GeoLocation"], axis=1)

In [ ]:
df.isnull().sum()

Data_Value_Type              0
Data_Value                   0
Low_Confidence_Limit         0
High_Confidence_Limit        1
Sample_Size                  1
ClassID                      1
TopicID                      1
QuestionID                   1
DataValueTypeID              1
LocationID                   1
StratificationCategory1      1
Stratification1              1
StratificationCategoryId1    1
StratificationID1            1
Class                        1
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
for col in df.columns:
  print(col, df[col].nunique())

Data_Value_Type 1
Data_Value 13444
Low_Confidence_Limit 13437
High_Confidence_Limit  13495
Sample_Size 18635
ClassID 3
TopicID 3
QuestionID 9
DataValueTypeID 1
LocationID 10007
StratificationCategory1 6
Stratification1 28
StratificationCategoryId1 6
StratificationID1 28
Class 3

In [ ]:
df=df.drop(columns=["Data_Value_Type","DataValueTypeID"], axis=1)

In [ ]:
df.StratificationCategoryId1

0          OVR
1          GEN
2          GEN
3          EDU
4          EDU
         ...
40763    AGEYR
40764      INC
40765     RACE
40766      GEN
40767    AGEYR
Name: StratificationCategoryId1, Length: 40768, dtype: object

In [ ]:
df.sample(2)

       Data_Value  ...                  Class
18933   37.300000  ...      Physical Activity
24850   37.480505  ...  Fruits and Vegetables

[2 rows x 13 columns]

In [ ]:
df=df.drop(columns=["LocationID", "ClassID", "TopicID", "QuestionID", "StratificationCategory1", "Stratification1", "StratificationCategoryId1", "StratificationID1"], axis=1)

In [ ]:
df.sample(2)

       Data_Value  Low_Confidence_Limit  ...  Sample_Size                  Class
40083   42.248553             38.687859  ...  1242.982655  Fruits and Vegetables
37852   19.300000             17.400000  ...  3406.000000      Physical Activity

[2 rows x 5 columns]

In [ ]:
df2=df.copy()

In [ ]:
df=pd.get_dummies(df, columns=["Class"], drop_first=True )

In [ ]:
X=df.drop(columns="Data_Value", axis=1)
y=df.Data_Value

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler().fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import mean_squared_error
ext=ExtraTreesRegressor(n_estimators=900).fit(X_train, y_train)
pred=ext.predict(X_test)
mean_squared_error(y_test, pred)

0.004404579636389006

In [ ]:
test=pd.read_csv("Test_data.csv")

In [ ]:
test.head(2)

   YearStart  YearEnd  ... StratificationID1                    Class
0       2016     2016  ...           OVERALL  Obesity / Weight Status
1       2016     2016  ...              MALE  Obesity / Weight Status

[2 rows x 28 columns]

In [ ]:
test=test[['Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', "Class"]]

In [ ]:
test=pd.get_dummies(test, columns=["Class"])

In [ ]:
test.head(2)

   Low_Confidence_Limit  ...  Class_Physical Activity
0                  34.9  ...                        0
1                  40.6  ...                        0

[2 rows x 5 columns]

In [ ]:
test=scaler.transform(test)

In [ ]:
target = ext.predict(test)

In [ ]:
target

array([35.25097709, 41.13933394, 29.29114619, ..., 29.97818543,
       44.23360018, 32.61559832])

In [ ]:
res = pd.DataFrame(target) 
res.columns = ["prediction"]
res.to_csv("submission.csv", index = False)

In [ ]:
pip install h2o

In [4]:
import h2o
import multiprocessing
print("CPU: ",multiprocessing.cpu_count())

import psutil
print("Memory: ",psutil.virtual_memory())

CPU:  2
Memory:  svmem(total=13653569536, available=12750594048, percent=6.6, used=634667008, free=8981250048, active=1158156288, inactive=3154325504, buffers=84271104, cached=3953381376, shared=1007616, slab=240553984)

In [ ]:
#h2o.init()
h2o.init(ip="127.0.0.1", max_mem_size_GB = 100, nthreads = 5)

In [6]:
train_data = h2o.import_file('Train_data.csv')
test_data = h2o.import_file('Test_data.csv')

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [7]:
train_data=train_data[['Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', "Class", "Data_Value"]]
test_data=test_data[['Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', "Class"]]

In [9]:
#70% train, 15% test, 15% validation
train, validation = train_data.split_frame(ratios=[0.7], seed=17)

In [10]:
print("train set size: ",train.shape)
print("validation set size: ", validation.shape)

train set size:  (36709, 5)
validation set size:  (15636, 5)

In [11]:
from h2o.estimators.gbm import H2OGradientBoostingEstimator

In [28]:
model = H2OGradientBoostingEstimator(
    ntrees = 3000
    , learn_rate = 0.1
    , stopping_rounds = 50
    , stopping_metric = "RMSE")

In [29]:
train_data.names

['Low_Confidence_Limit',
 'High_Confidence_Limit ',
 'Sample_Size',
 'Class',
 'Data_Value']

In [30]:
model.train(x = train_data.names[0:-1], y = train_data.names[-1]
    , training_frame = train
    , validation_frame = validation
    #, verbose = True
    , model_id = "Obesity"
)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [31]:
model

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  Obesity


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0             3000.0  ...        32.0     7.655334

[1 rows x 10 columns]

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 0.006971101965636625
RMSE: 0.08349312525972798
MAE: 0.06156889527971981
RMSLE: 0.003872072470930784
Mean Residual Deviance: 0.006971101965636625

ModelMetricsRegression: gbm
** Reported on validation data. **

MSE: 0.013117399905079062
RMSE: 0.11453121803717561
MAE: 0.07195839584907743
RMSLE: 0.0058724226752379675
Mean Residual Deviance: 0.013117399905079062

Scoring History:

                timestamp  ... validation_mae  validation_deviance
0     2021-04-13 21:11:18  ...       7.838542            96.563322
1     2021-04-13 21:11:18  ...       7.069863            78.637175
2     2021-04-13 21:11:18  ...       6.379802            64.052218
3     2021-04-13 21:11:18  ...       5.755171            52.217871
4     2021-04-13 21:11:18  ...       5.189154            42.547705
5     2021-04-13 21:11:18  ...       4.679378            34.667278
6     2021-04-13 21:11:18  ...       4.223811            28.301409
7     2021-04-13 21:11:18  ...       3.812402            23.074771
8     2021-04-13 21:11:18  ...       3.438371            18.821222
9     2021-04-13 21:11:18  ...       3.105185            15.368776
10    2021-04-13 21:11:18  ...       2.800412            12.543261
11    2021-04-13 21:11:18  ...       2.526099            10.250143
12    2021-04-13 21:11:18  ...       2.281140             8.373910
13    2021-04-13 21:11:18  ...       2.057156             6.843438
14    2021-04-13 21:11:18  ...       1.855490             5.596104
15    2021-04-13 21:11:18  ...       1.674943             4.576216
16    2021-04-13 21:11:18  ...       1.511450             3.743073
17    2021-04-13 21:11:18  ...       1.365721             3.067123
18    2021-04-13 21:11:18  ...       1.235582             2.515276
19    2021-04-13 21:11:18  ...       1.116388             2.065041

[20 rows x 10 columns]

See the whole table with table.as_data_frame()

Variable Importances:

                 variable  relative_importance  scaled_importance    percentage
0    Low_Confidence_Limit         1.086313e+07           1.000000  5.873361e-01
1  High_Confidence_Limit          7.632045e+06           0.702564  4.126414e-01
2             Sample_Size         4.031235e+02           0.000037  2.179566e-05
3                   Class         1.445520e+01           0.000001  7.815487e-07

In [33]:
valid=model.model_performance(validation)

In [34]:
valid.rmse()

0.11453121803717561

In [35]:
predictions = model.predict(test_data = test_data)

gbm prediction progress: |████████████████████████████████████████████████| 100%

In [36]:
predictions_pd = predictions.as_data_frame()

In [37]:
predictions_pd.head()

     predict
0  35.071952
1  41.229280
2  29.319663
3  34.614836
4  34.247306